name: Print DateTime

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  show-time:
    runs-on: ubuntu-latest
    steps:
      - name: Print current datetime
        run: echo "Time: $(date)"
